---
import "../styles//documentation.css"

interface Props {
  title: string;
}

const { title } = Astro.props;
const links = [
  { slug: "alert", label: "Alert" },
  { slug: "button", label: "Button" },
  { slug: "input", label: "Input" },
  { slug: "label", label: "Label" },
  { slug: "radio", label: "Radio" },
];
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description">
    <title>Aphrodite Chibi | {title}</title>
  </head>

  <body class="documentation">
    <!-- Navigation bar -->
    <nav>
        <a href="/">Aphrodite Chibi</a>
        
        <h2>Components</h2>
        {links.map(link => {
          const href = `/docs/${link.slug}`;

          return <a href={href} class={currentPath === href ? "active" : ""}>{link.label}</a>
        })}
    </nav>

    <!-- Content -->
    <main>
      <header>
        <h1>{title}</h1>
        <slot name="description" />
      </header>

      <section class="component-view">
        <slot name="component" />
        <slot name="code"/>
      </section>
    </main>
  </body>
</html>

