---
import { Code } from "astro:components";

import "styles/style.css";
import "styles/pages/documentation.css";

interface Props {
  title: string;
  code: string;
}

const { title, code } = Astro.props;
const links = [
  { slug: "chibi-button", label: "Button" },
  { slug: "chibi-input", label: "Input" },
  { slug: "chibi-input-field", label: "Input Field" },
  { slug: "chibi-label", label: "Label" },
  { slug: "chibi-radio-group", label: "Radio Group" },
  { slug: "chibi-radio-option", label: "Radio Option" },
];
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Documentation for Aphrodite Chibi" />
    <title>Aphrodite Chibi | {title}</title>
  </head>

  <body class="documentation">
    <!-- Navigation bar -->
    <nav>
      <a href="/">Aphrodite Chibi</a>
      <h2>Components</h2>
      {
        links.map((link) => {
          const href = `/docs/${link.slug}`;

          return (
            <a
              href={href}
              class={currentPath === href ? "active" : ""}
              data-astro-prefetch
            >
              {link.label}
            </a>
          );
        })
      }
    </nav>

    <!-- Content -->
    <main class="soft-background">
      <header>
        <h1>{title}</h1>
        <slot name="description" />
      </header>

      <section class="gallery">
        <!-- Component -->
        <div class="component">
          <slot name="component" />
        </div>

        <!-- Code -->
        <p>Example:</p>
        <div class="code-wrapper">
          <Code code={code} lang="jsx" theme="github-light" wrap />
        </div>
      </section>
    </main>
  </body>
</html>
